@use '../..//styles/mixins' as mixins;

// Import CSS variables
@import '../../styles/variables.css';

.projects__container {
  .project {
    &__image {
      background: var(--color-background-light-200);
      border-radius: mixins.px-to-rem(32px);
      padding: mixins.px-to-rem(32px);
      height: mixins.px-to-rem(125px);
      max-width: mixins.px-to-rem(400px);
      overflow: hidden;
      position: relative;

      &-img {
        position: absolute;
        top: mixins.px-to-rem(30px);
        border-radius: mixins.px-to-rem(10px);
      }
    }

    &__description {
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: mixins.px-to-rem(20px);
      }

      &-link {
        &:hover,
        &:focus {
          svg > path {
            fill: var(--color-background-orange);
          }
        }
      }
    }

    &__title-title-line {
      display: none;
      height: mixins.px-to-rem(2px);
      width: 100%;
      background: var(--color-background-green);
      opacity: 0.75;
    }
  }
}

@include mixins.media('medium') {
  .projects__container {
    .project {
      &__title-text {
        flex-shrink: 0;
      }
      &__image {
        height: mixins.px-to-rem(200px);
      }
      &__title-title-line {
        display: block;
      }
    }
  }
}
