@use '../../styles/theme/colors' as colors;
@use '../../styles/mixins' as *;

.projects__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  gap: 2rem;

  .project {
    &__image {
      background: #f8efe6;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      padding: 2rem;
      height: 200px;
      max-width: 400px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      /* margin: 0 auto;  Right now since is only 1 project*/

      &-img {
        position: absolute;
        top: 30px;
        border-radius: 10px;
      }
    }
    &__description {
      color: #184027;
      &-title {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
      }

      &-tech {
        color: #ed6b2e;
      }

      &-link {
        position: absolute;
        right: 15px;
        top: 30px;
        &:hover,
        &:focus {
          svg > path {
            fill: colors.$color-orange;
          }
        }
      }
    }

    &__title-text {
      flex-shrink: 0;
      font-weight: 800;
      font-size: 20px;
      margin: 20px 0 0;
    }

    &__title-title-line {
      height: 2px;
      width: 100%;
      background: #184027;
      opacity: 0.75;
    }
  }
}

@include media('medium') {
  .projects__container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.2rem;
    gap: 3.2rem;
    .project {
      &__description {
        &-title {
          flex-direction: row;
          margin-bottom: 0;
        }

        &-link {
          position: initial;
        }
      }

      &__title-text {
        margin: 27px 0;
      }
    }
  }
}
