// Import mixins
@use '../../styles/mixins' as mixins;

// Import CSS variables
@import '../../styles/variables.css';

.calendly-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-background-light);
  padding: mixins.px-to-rem(32px);
  border-radius: mixins.px-to-rem(8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.calendly-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.close-button {
  position: absolute;
  top: mixins.px-to-rem(10px);
  right: mixins.px-to-rem(10px);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
