@use '../../styles/mixins' as *;

.hero {
  min-height: 100vh;
  @include flex-container(column, center, center);
  margin-top: -80px;

  &__content {
    width: calc(100% - 40px);
    max-width: 650px;
  }

  &__headline-1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  &__headline-2 {
    font-weight: 400;
    font-size: 2rem;

    &--bold {
      font-weight: 800;
    }
  }
}

@include media('medium') {
  .hero {
    &__headline-1 {
      font-size: 5rem;
    }

    &__content {
      width: 50%;
    }
  }
}
