@use '../../styles/mixins' as mixins;

.hero {
  min-height: 100vh;
  @include mixins.flex-container(column, center, center);
  margin-top: mixins.px-to-rem(-80px);

  &__content {
    width: calc(100% - mixins.px-to-rem(40px));
    max-width: mixins.px-to-rem(650px);

    &-text {
      font-size: mixins.px-to-rem(20px);
      font-weight: 300;
      line-height: mixins.px-to-rem(30px);
    }
  }

  &__headline-1 {
    font-size: mixins.px-to-rem(56px);
    font-weight: 900;
  }

  &__headline-2 {
    font-weight: 600;
    font-size: mixins.px-to-rem(24px);

    &--bold {
      font-weight: 800;
    }
  }
}

@include mixins.media('medium') {
  .hero {
    &__headline-1 {
      font-size: mixins.px-to-rem(80px);
    }

    &__content {
      width: 50%;
    }
  }
}
