// Import mixins
@use './mixins' as mixins;

// Import CSS variables
@import './variables.css';

// Text Utilities
// --------------------------------------------------

/* Text Colors */
.text--color-primary {
  color: var(--color-text-primary);
}

.text--color-secondary {
  color: var(--color-text-secondary);
}

/* Text Weights */
.text--600 {
  font-weight: 600;
}

/* Text Sizes */
.text--big-4 {
  font-size: mixins.px-to-rem(64px);
  line-height: mixins.px-to-rem(16px);
}

.heading--4 {
  font-size: mixins.px-to-rem(20px);
  font-weight: 800;
}

// Alignment Utilities
// --------------------------------------------------

/* Flex Alignment */
.align--center-gap-10 {
  display: flex;
  align-items: center;
  gap: mixins.px-to-rem(10px);
}

// Spacing Utilities
// --------------------------------------------------

/* Verical Margins */
.vertical--margin-35 {
  margin: mixins.px-to-rem(35px) 0;
}

// Layout Utilities
// --------------------------------------------------

/* Grid Layout */
.grid--2-cols {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: mixins.px-to-rem(32px);
  gap: mixins.px-to-rem(32px);
}

.grid-col-list {
  display: flex;
  gap: mixins.px-to-rem(10px);
  flex-wrap: wrap;
  li {
    background: var(--color-background-purple);
    border-radius: mixins.px-to-rem(20px);
    padding: mixins.px-to-rem(10px);
  }
}

@include mixins.media('medium') {
  .grid--2-cols {
    grid-template-columns: 1fr 1fr;
    grid-gap: mixins.px-to-rem(50px);
    gap: mixins.px-to-rem(50px);
  }
}
