@use './theme/colors' as colors;
@use './mixins' as *;

/* Forward mixins */
@forward './mixins';

/* Forward mixins */
@forward './reset';

/* Forward mixins */
@forward './utilities';

html {
  background-color: colors.$color-background-primary;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Bitter', serif;
  scroll-behavior: smooth;
}

header {
  background: rgb(255 246 237 / 25%);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 20;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

p {
  line-height: 26px;
}

.home {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.section__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  max-width: 960px;
  margin: 0 auto;
  scroll-margin-top: 80px;
}

.footer {
  background: #184027;
  color: #fff6ed;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__text {
    font-size: 12px;
    margin: 0;

    &-link {
      color: #fff6ed;
      font-weight: 600;
    }
  }
}

@include media('medium') {
  .section__container {
    padding: 80px 80px 0;
  }
}
