@use './theme/colors' as colors;

/* Forward mixins */
@forward './mixins';

/* Forward mixins */
@forward './reset';

/* Forward mixins */
@forward './utilities';

html {
  background-color: colors.$color-background-primary;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Bitter', serif;
  scroll-behavior: smooth;
}

p {
  line-height: 26px;
}

.home {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.section__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 80px;
}
