@use '../../styles/mixins' as mixins;

// Import CSS variables
@import '../../styles/variables.css';

.heading {
  display: flex;
  align-items: center;
  gap: mixins.px-to-rem(30px);
  color: var(--color-text-primary);
  margin: mixins.px-to-rem(20px) 0;
  &__line {
    width: 100%;
    height: mixins.px-to-rem(2px);
    background: var(--color-background-green);
  }

  &__headline-3 {
    font-weight: 900;
    font-size: mixins.px-to-rem(32px);
    margin: 0;
  }

  &--left {
    flex-direction: row-reverse;
  }

  &--right {
    flex-direction: row;
  }
}

@include mixins.media('medium') {
  .heading {
    margin: mixins.px-to-rem(50px) 0;
    &__headline-3 {
      font-size: mixins.px-to-rem(56px);
    }
  }
}
