// Import CSS variables
@import '../../styles/variables.css';

.social {
  &__list {
    display: flex;
    gap: mixins.px-to-rem(20px);
  }

  &__list-item {
    width: mixins.px-to-rem(24px);
    height: mixins.px-to-rem(24px);
  }

  &__link {
    display: flex;
    text-indent: -9999px;
    &:hover,
    &:focus {
      svg circle,
      svg > path {
        fill: var(--color-background-orange);
      }
    }
  }
}
