@use '../../styles/mixins' as *;

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  gap: 2rem;
  color: #184027;

  &__column-links {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      color: #ed6b2e;
      display: flex;
      align-items: center;
      font-weight: 600;
      gap: 5px;
    }
  }

  &__column-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    li {
      background: rgb(232, 225, 253);
      border-radius: 20px;
      padding: 10px;
    }
  }
  &__column-title {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@include media('medium') {
  .about {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.2rem;
    gap: 3.2rem;
  }
}
