// Import mixins
@use '../../styles/mixins' as mixins;

// Import CSS variables
@import '../../styles/variables.css';

.nav {
  height: calc(100vh - mixins.px-to-rem(150px));
  position: sticky;
  top: 0;
  background: rgb(255 233 212 / 20%);
  &__logo {
    color: var(--color-text-primary);
    font-weight: 900;
    font-size: mixins.px-to-rem(24px);
    margin: mixins.px-to-rem(28px) mixins.px-to-rem(15px);
    display: block;
    &-circle {
      font-size: mixins.px-to-rem(48px);
      line-height: 0;
      color: var(--color-text-secondary);
    }
  }

  &__list {
    &-item {
      position: relative;
      &:hover,
      &--active {
        background: var(--color-background-light);
        &::after {
          content: '';
          display: block;
          width: mixins.px-to-rem(2px);
          height: 100%;
          background: var(--color-background-orange);
          position: absolute;
          top: 0;
          right: 0;
          transform: scaleY(1);
          transform-origin: top;
          transition: transform 0.3s ease;
        }
        .nav__link {
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }

  &__link {
    writing-mode: vertical-lr;
    text-decoration: none;
    color: var(--color-text-primary);
    opacity: 0.75;
    padding: mixins.px-to-rem(15px) 0;
    width: mixins.px-to-rem(58px);
    position: relative;
    display: flex;
    align-items: center;
  }
}
