.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(75px, 1fr));
  gap: 1px;
}

.grid-item {
  width: 100%;
  height: 100%;
  background-color: #e8e1fd;
  transition: background-color 0.3s ease;
}
