html {
  background-color: #fff6ed;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h1, h2, p {
  color: #184027;
  margin: 16px 0;
}

p {
  line-height: 26px;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

h2 span {
  font-weight: 800;
}

span {
  color: #ed6b2e
}

.about-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 60%;
}

.big {
  font-size: 4rem;
}